@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Ubuntu Mono", serif;

  background-color: #1e293b;
  color: white;
}

.main-container {
  height: 90vh;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 60px;
}



ul {
  list-style-type: none;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: white;
}

.title {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-message-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1d4ed8;
  color: white !important;
  border-radius: 4px;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.new-message-btn:hover {
  background-color: #1940ad;
}

.content-wrapper {
  margin: 12px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 0 10px;
}

.content-wrapper::-webkit-scrollbar {
  width: 8px;
}

.content-wrapper::-webkit-scrollbar-track {
  background: #1e293b;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 4px;
}

li {
  margin: 8px;
  border: 2px solid #3b82f6;
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #101724;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer > a {
  margin: 6px;
}

.form-wrapper {
  margin: 12px;
  padding: 12px;
  min-width: 500px;
  max-height: 400px;
}

.inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.inputs-wrapper {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs-wrapper + div {
  width: 100%;
}

.input {
  width: 300px;
}
label,
textarea,
input {
  font-size: 1rem;
  letter-spacing: 1px;
}

textarea,
input {
  font-family: "Genos", serif;
  min-width: 100%;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #22d3ee;
  background-color: black;
  color: white;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #22d3ee;
  box-shadow: 1px 1px 1px #999;
  max-height: 130px;

  background-color: black;
  color: white;
}

.submit-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #22d3ee;
  color: #1e293b;
  border-radius: 4px;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #09b6d0;
}

.back-link {
  color: #1bd3ef;
}

.message {
  margin: 24px;
  padding: 12px;
}

.open-link {
  color: #22d3ee;
  text-decoration: underline;
}
